.chartas[b-kwrb0wky1o] {
    width: 50% !important;
    height: 400px !important;
    margin: 0 auto;
}
.chartBar[b-kwrb0wky1o] {
    width: 100% !important;
    height: 400px !important;
    margin: 0 auto;
}
.title[b-kwrb0wky1o] {
    text-align: center
}
.chart[b-kwrb0wky1o]{
    display:grid;
    grid-template-columns:1fr 1fr;
}
