.chartas {
    width: 50% !important;
    height: 400px !important;
    margin: 0 auto;
}
.chartBar {
    width: 100% !important;
    height: 400px !important;
    margin: 0 auto;
}
.title {
    text-align: center
}
.chart{
    display:grid;
    grid-template-columns:1fr 1fr;
}
